<div class="container mt-4">
  <div class="row">

    <a [routerLink]="['/comments']" class=""> Go Back</a>
  </div>
  <div class="row mb-4 mt-4">
    <h2> Comment {{comment.id}} for post {{ comment.postId }}</h2>
    <br>
    <hr>
  </div>

  <div class="row">
    <div class="comments-container">
      <div class="card  my-4">
        <div class="card-body pointer">
          <h5>{{comment.name }}</h5>
          <span>{{comment.email}}</span>
          <hr>
          <p>
            {{comment.body}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
